.result
  - @tasks.each do |task|
    .result__contents
      = task.content
      .result__contents__menu
        .result__contents__menu__edit
          = link_to "編集", edit_task_path, class: "edit_button"
        .result__contents__menu__destroy
          = link_to "削除", method: :destroy, class: "destroy_button"
