.main {
  height: 10vh;
  width: 100vw;
  font-size: 32px;
  &__header {
    background-color: rgb(221, 221, 221);
    height: 10vh;
    display: flex;
    justify-content: space-between;
    &__logo {
      height: 9vh;
      width: 20vw;
      line-height: 2.5em;
      margin-left: 1em;
      .link {
        text-decoration: none;
        color: orange;
      }
    }
    &__user {
      height: 9vh;
      width: 20vw;
      font-size: 0.6em;
      line-height: 4.2em;
      display: flex;
      justify-content: space-between;
      position: relative;
      .name {
        cursor: pointer;
        margin-left: 5em;
      }
      &__menu {
        background-color: #fff;
        text-align: center;
        padding: 2em;
        position: absolute;
        margin-top: 7em;
        height: 10vh;
        width: 10vw;
        border: solid 0.1px gray;
        font-size: 0.5em;
        line-height: 5em;
        .button {
          height: 5vh;
          color: black;
          font-size: 1.5em;
          text-decoration: none;
        }
        .regist {
          text-decoration: none;
        }
      }
      &__icon {
        background-color: rgb(117, 117, 117);
        height: 7vh;
        width: 4vw;
        margin-top: 0.6em;
        margin-right: 1.9em;
        border-radius: 50%;
        position: relative;
      }
      &__noimage {
        position: absolute;
        font-size: 0.3em;
        color: white;
        right: 7.4em;
        display: inline;
      }
    }
  }
}